parameters:
	ignoreErrors:
		-
			identifier: ergebnis.noParameterWithNullDefaultValue
			path: ../../src/OtlpHttpTransportFactory.php
		-
			identifier: ergebnis.noParameterWithNullableTypeDeclaration
			path: ../../src/OtlpHttpTransportFactory.php

#	ergebnis:
#		noExtends:
#			classesAllowedToBeExtended:
#				- Psr\Log\AbstractLogger
